<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandlerHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="AllLogAppender"/>
    </root>
    <timestamp key="timestamp" datePattern="yyyyMMdd"/>
    <appender name="AllLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="App_Data\\Logs\\Application_Log_"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="dd-MM-yyyy.\tx\t" />
      <param name="StaticLogFileName" value="false"/>
      <level value="ALL"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] from %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>
